@media all and (min-width: 480px) {
  .Trainer {
    padding: 0px 30px;
  }

  .Trainer .CreatePost {
    margin: auto;
    max-width: auto;
    text-align: left;
  }

  .Trainer .PostList {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: auto;
    max-width: auto;
  }
  .Trainer .PostList h3{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .Trainer .PostList h4{
    text-align: left;
  }
  .Trainer .PostList h5{
    text-align: right;
  }

}
